*,html {box-sizing: border-box;}


body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.square{
    background-color: hsl(216, 50%, 16%);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;   
    
}

img {
    height: 300px;
    width: 300px;
    border-radius: 5px;
  
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:300px;
    height: 250px;
    
}

.title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

p{
    width: auto;
    color: hsl(215, 51%, 70%);
    margin: 0px ;
    font-size: 16px;
}

.buy{
    display: flex;
    justify-content: space-between;


}

.price {
    color: hsl(178, 100%, 50%);

}

.date{ 
    color: hsl(215, 51%, 70%);

}

.price::before {
    content : "";
    display: inline-block;
    width: 13px;
    height: 18px;
    background: center center / 13px 18px no-repeat url(images/icon-ethereum.svg);
    vertical-align: middle;
    margin-right: 10px;
}    

.date::before {
    content : "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: center center / 18px 18px no-repeat url(images/icon-clock.svg);
    vertical-align: middle;
    margin-right: 10px;
}   
.bottom::before {
    content : "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: center center / 30px 30px no-repeat url(images/image-avatar.png);
    vertical-align: middle;
    margin-right: 10px;
    border: solid 1px hsl(215, 51%, 70%) ;
    border-radius: 50%;
    
} 

.white {
    color : white
}

.bottom {
    color: hsl(215, 51%, 70%);
    
}

hr { 
    border-top: 1px solid  hsl(215, 51%, 70%);
    border-bottom: none;
 }


